.main-article .inner-article{
    @extend .main-article;
    position: relative;
    overflow: hidden;
    border-bottom: none;
    border-top: 1px solid $color-dark;

    margin: 0px -20px;
    @media only screen and(min-width:1280px){
        margin: 0px -40px;
    }

    &.collapsed{

        .article-title{
            font-size: inherit;

            svg{
                display: block;
            }
        }

        .article-media-count{
            bottom: 0;
        }

        .article-media,
        .article-saved-count{
            display: none;
        }
    }


    &.expanded{
        &:after,
        &:before{
            display: none;
        }

        .article-saved-count{
            display: none;
        }
    }


    &:after{
        position: absolute;
        content : 'Se øvelsen';
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 12px;
        color: $color-dark-2;
    }

    &:before{
        content: '';
        position: absolute;
        background-color: $color-green-2;
        width: 135px;
        top: -70px;
        bottom: -70px;
        right: -30px;
        transform: rotate(13deg);
    }
}
