@media only screen and(min-width:640px){

    .site-login-menu{
        height: $header-height-logged-in - $header-height;
        line-height: $header-height-logged-in - $header-height;
        background-color: $color-gold;
        display: block;
        overflow: hidden;
        font-size: 0;
        margin-left: -10px;

        a{
            &:first-child{
                padding: 0px 10px 0px 20px;
            }

            display: inline-block;
            text-align: center;
            height: inherit;
            line-height: inherit;
            padding: 0px 10px;
            font-size: 11px;
            @media only screen and(min-width:768px){
                font-size: 13px;
                padding: 0px 20px;

                &:first-child{
                    padding: 0px 20px 0px 30px;
                }
            }

            @media only screen and(min-width:960px){
                padding: 0px 30px;

                &:first-child{
                    padding: 0px 30px 0px 40px;
                }

            }

            font-weight: 700;
            text-transform: uppercase;
            vertical-align: top;
            position: relative;
            background-color: #d9b451;
            transition: background-color 120ms;
            overflow: visible;
            transform: skewX(-15deg) translate3d(0,0,0);
            box-shadow: -4px 0px 4px 0px rgba(black,.3) inset;



            &:last-of-type{
                box-shadow: none;
            }

            &:hover{
                background-color: $color-gold-3;
            }

            span{
                z-index: 1;
                position: relative;
                display: inline-block;
                transform: skewX(15deg) translate3d(0,0,0);
            }
        }

        svg,i{
            z-index: 1;
            position: relative;
            line-height: 20px;
            text-align: center;
            margin-left: 5px;
            vertical-align: top;
            display: inline-block;
            height: 20px;
            margin-top: ($header-height-logged-in - $header-height - 20px) / 2;
            width: 13px;
        }

        i{
            font-style: italic;
        }
    }
}

a.login-name:hover svg{
    animation: rotate linear infinite 2.5s;
}
