.toggle-aside .main-section aside{
    left: 0;
    box-shadow: 0px 0px 1px 2px rgba(0,0,0,0.3);
}

.main-section{
    overflow-y: hidden;
    position: relative;
    overflow-x: auto;
    min-height: 100vh;
    background-color: $color-light-2;

    aside{
        position: absolute;
        width: 100%;
        max-width: 380px;
        top: 0;
        bottom: 0;
        left: calc( -100% + 40px);
        background-color: $color-dark-2;

        @media only screen and(min-width:380px){
            left: -340px;
        }

        @media only screen and(min-width:960px){
            left: 0!important;
            box-shadow: none!important;
            min-height: 100%;
        }

    }


    main{
        position: relative;
        background-color: $color-light-2;
        width: calc(100% - 40px);
        transition: width $menu-trans;
        transition-timing-function: $menu-trans-timing;
        @media only screen and(min-width:960px){
            width: calc(100% - 380px);
        }

        float: right;
        &:after{
            content: '';
            opacity: 0;
            transition:opacity $menu-trans;
        }
        &.loading:after{
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            z-index: 10;
            opacity: 1;
            background-color: rgba($color-light-2,.5);
            background-image: url(../statics/loading.gif);
            background-size: 60px;
            background-position: center;
            background-repeat: no-repeat;
        }
    }
}
