.no-posts{
    padding: 90px 20px 110px;
    @media only screen and(min-width:480px){
        padding: 90px 10px 110px;
    }

    text-align: center;
    background-color: rgba(white,.6);
    color: #999;
    font-weight: 300;

    a{
        text-decoration: underline;
    }
}
