.site-header-menu{
    display: block;

    @media only screen and(max-width:640px){

        svg{
            display: inline-block;
            width: 10px;
            height: 10px;
        }

    }


    @media only screen and(min-width:640px){

        text-align: right;
        top: 0;
        margin-right: 90px;
        height: $header-height;



        >ul{
            height: inherit;
            font-size: 0;
        }

        li{
            display: inline-block;
            width: 100px;
            font-size: 10px;
            @media only screen and(min-width:850px){
                width: 160px;
                font-size: 12px;
            }

            height: inherit;
            border-left: 2px solid white;
        }

        a{
            text-transform: uppercase;
            padding-top: 5px;
            box-sizing: border-box;
            display: block;
            height: inherit;
            position: relative;
            transition: background-color 120ms;

            &:hover{
                background: $color-dark;
            }
        }

        svg{

            height: 40px;
            fill: white;

            display: block;
        }

        span{
            position: absolute;
            bottom: 10px;
            left: 0;
            right: 0;
            text-align: center;
            color: white;
            display: block;
        }

    }

}
