.video-container,
.image-container{
    position: relative;
    height: 0;
    padding-bottom: 56.25%;

    &.hero-banner-video{
        width: 100%;
        @include center(false,true);
        opacity: 0;
        transition: opacity 500ms;

        &:after{
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba($color-dark,.05);
            z-index: 2;
            content: '';
        }

        &.playing{
            opacity: 1;
        }

    }


    iframe,
    img{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 1;
    }
}
