.share-link {
    padding: 0px 10px;

    height: 25px;
    line-height: 25px;
    display: inline-block;
    text-transform: uppercase;
    font-size: 10px;
    opacity: .8;
    border: 1px solid;
    border-color: rgba(black,.5);
    transition: opacity 120ms, border-color 120ms;

    &:hover{
        opacity: 1;
        border-color:black;
    }

    &:first-child{
        margin-right: 10px;
    }

    @media only screen and(min-width:480px){
        font-size: 12px;
        padding: 0px 20px;
        height: 35px;
        line-height: 35px;
    }

}
