$base-color: #333;
$base-font: 'Open Sans', sans-serif;
$base-font-weight: 400;

$base-font-size:     13px;
$base-font-size-480: 13px;
$base-font-size-640: 14px;
$base-font-size-960: 15px;
$base-line-height: 1.5;


$color-dark: #3a3a3a;
$color-dark-2: #484848;

$color-gold: #d9b451;
$color-gold-2: #988654;
$color-gold-3: #e4cb86;

$color-light: #e1e1e1;
$color-light-2: #d5d5d5;
$color-light-3: #bfbfbf;
$color-light-4: #959595;
$color-light-5: #808080;
$color-light-6: #737373;
